---
import fs from 'node:fs/promises';
import type Mass from './../../models/Mass';
import type Info from './../../models/Info';
import type Section from './../../models/Section';
import SplashLayout from '~/layouts/SplashLayout.astro';

const today = new Date().toISOString().split('T')[0];
const url = new URL(`../../public/date/${today}.json`, import.meta.url);

const json = await fs.readFile(url, 'utf-8');

const mass: Mass = JSON.parse(json)[0];
console.log('!!!!!!!!!!!!!!!!!', mass.info);
console.log('!!!!!!!!!!!!!!!!!', mass.sections);
const info: Info = mass.info;
const section: Section[] = mass.sections;
console.log('!!!!!!!!!!!!!!!!!', section[0]);
---

<SplashLayout title="Missa">
	<div>{info.date}</div>
	{
		section.map((item) => (
			<>
				<div>{item.label}</div>
				<hr />
				<div>{item.body[0][1]}</div>

				<hr />

				<div>{item.body[0][0]}</div>
			</>
		))
	}
</SplashLayout>
